.navBar {
  height: auto;
  width: 100vw;
  background-color: rgb(9, 9, 73);
  position: fixed;
  top: 0;
  color: white;
  border: 0.5px solid white;
}

.navBar ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.navBar ul li {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navBar ul li:hover {
  background-color: brown;
  outline: 1px solid white;
  /* font-size: 105%; */
}
